<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{app.title}">Nazwa aplikacji</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet"  th:href="@{/css/style.css}"/>
</head>
<body>
<header th:include="fragments/headerLogged.html :: header" class="header--form-page"></header>

<section class="login-page">
    <form method="post" th:object="${institutionDTO}"
          th:action="@{/admin/institutions/edit/{id}(id=${institutionDTO.id})}">
        <div class="form-section--column">
            <ul>
                <li class="error" th:errors="*" />
            </ul>
        </div>
        <br>
        <div class="form-section--column">
            <h1>Edytuj instytucję</h1>
            <div class="form-group form-group--inline">
                <label> Nazwa <input type="text" name="name" th:field="*{name}"
                /> </label>
            </div>

            <div class="form-group form-group--inline">
                <label> Opis <input type="text" name="description"
                                    th:field="*{description}"/> </label>
            </div>

        </div>
        <div class="form-group form-group--buttons">
            <button type="submit" class="btn prev-step">Edytuj</button>
        </div>
    </form>
</section>


<footer th:include="fragments/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/resources/js/app.js}"></script>
</body>
</html>